<div class="table-container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">نام درس</th>
            <th scope="col">کد درس</th>
            <th scope="col">نام استاد</th>
            <th scope="col">نمره</th>
            <th scope="col">نتیجه درس</th>
            <th scope="col">نوع درس</th>
            <th scope="col">واحد</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>هوش مصنوعی</td>
            <td>101</td>
            <td>فلانی</td>
            <td>20</td>
            <td>قبول</td>
            <td>تخصصی</td>
            <td>2</td>
          </tr>
          <tr>
            <th>اسکریپت</th>
            <td>102</td>
            <td>بهمانی</td>
            <td>9</td>
            <td>رد</td>
            <td>پایه</td>
            <td>3</td>
          </tr>
          <tr>
            <th>طراجی وب</th>
            <td>103</td>
            <td>فلانی</td>
            <td>18</td>
            <td>قبول</td>
            <td>پایه</td>
            <td>3</td>
          </tr>
          <tr>
            <th>پایگاه داده</th>
            <td>104</td>
            <td>بهمانی</td>
            <td>19</td>
            <td>قبول</td>
            <td>پایه</td>
            <td>2</td>
          </tr>
        </tbody>
      </table>
</div>