<div class="full">
  <div class="main">
    <div class="logo">
      <img src="../assets/main_logo.png" alt="logo" class="image">
    </div>

    <div class="input-group mt-3">
      <span class="" id="basic-addon1">شماره دانشجویی</span>
      <input type="text" class="form-control" aria-label="Text input with checkbox">
    </div>
    <div class="input-group mt-3">
      <span class="" id="basic-addon1">رمز عبور</span>
      <input type="text" class="form-control" aria-label="Text input with checkbox">
    </div>
    <button class="enter" (click)="goToPath('/dashboard')"> ورود </button>

  </div>
</div>